
.screen-xs .sidebar{
    display:none;
}
.menu-item{
    padding:0.5em 2em 0.5em 2em;
    width:100%;
    border:solid 1px var(--dblue)
}
#ctrl-bar{
    padding:0.1em 2em 0.1em 2em;
    background:black;
    color:white;
    border:1px solid gray;
    position:fixed;
    top:0em;
    width:100%;
}
#editor{
    padding-top:2.2em;
}