{% extends "lib/html/base.html"%}
{%block site_body%}
<style>{%include "pages/categories/categories.css"%}</style>
<div style="text-align:center;padding-top:80px;" id="#categories">
    <div style="display:inline-block;">
        <div>
{% for cate in categories%}
        <div class="category-item" >
        <span>    {{cate.name}}({{cate.length}})</span>
            <button data-toggle="collapse" data-target="#cate-list-{{cate.name}}"><span class="list-icon">
                <span class="i"></span>
                <span class="i"></span>
                <span class="i"></span>
            </span></button>
            <div class="cate-item-list collapse show" id="cate-list-{{cate.name}}">
                <div style="display:inline-block;">
                {%for blog in cate.blogs%}
                <div class="cate-item-wrapper"><a href="/p/{{blog.id}}">{{blog.title}}</a></div>
                {%endfor%}
                </div>
            </div>

        </div>
{%endfor%}
        </div>
    </div>
</div>
{%include "pages/categories/categories.js"%}
{%endblock%}
