




.nav-header{
    position:fixed;
    z-index:1;
    top:0px;
    width:100%;
    background:#175199;
    color:white;
    padding-top:1em;
    padding-bottom:0.5em;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#nav-menu{
    margin-top:4.2em;
}
#blog-list-menu{
    background:#175199;
    color:white;
}
#blog-list-menu a{
    color:white;
}
.blog-list-menu-item{
    padding:0.2em 2em 0.2em 2em;
}
#article-list-container{
    padding-top:7em;
}
.blog-mask{
    height:10em;
    overflow:hidden;
}
.fold-ctrl{
    position:relative;
    top:-3em;
    color:#175199;
    font-weight:700;
    background:white;
    background: -webkit-gradient(linear, 0 0, 0 20%, from(rgba(255, 255, 255, 0)), to(#fff));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
    background: linear-gradient(top, rgba(255, 255, 255, 0), #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#ffffff, GradientType=0);
    height:3em;
    margin-bottom:-3em;
}
.fold-on{

}

.dark-page{
    background: rgba(14,16,15,0.95);
    text-align:center;
}
.dark-page .link-box{
    width:100%;
    position:absolute;
    top:30%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.dark-page-item{
    font-size:1.6em;
    font-weight:100;
    padding:0.2em 0.3em;
    border:solid white 1px;
    border:none;
    border-radius:0.8em;
    margin:0.2em 1em;
}
.dark-page .close-icon{
    position:fixed;
    top:20%;
    display:inline-block;
    right:10%;
}


.list-btn{
    background:inherit;
    color:inherit;
    border:none;
}
.list-icon{
    display:inline-block;
    width:2em;
    line-height:2px;
}
.list-icon .i{
    display:inline-block;
    width:1.5em;
    height:2px;
    background:white;
    margin:0px;
}

/*
.blog h1,.blog h2,.blog h3,.blog h4,.blog h5,.blog h6{
    font-weight:700;
}
.blog h1{
    font-size:1.1em;
}
.blog h2{
    font-size:1.03em;
}
.blog h3{
    font-size:0.97em;
}
.blog h4{
    font-size:0.92em;
}
.blog h5{
    font-size:0.87em;
}

.blog h6{
    font-size:0.84em;
}
*/